streamlit # for creating  a  frontend 



numpy
pandas

# FACE recognition
scikit-learn
dlib-bin


#this is used for embedding --> or say to detect the vector point in a image(face)for recognition.
git+https://github.com/ageitgey/face_recognition_models
setuptools<81


#supabase provide the storage 
supabase
#provide methods of hashing 
bcrypt

segno # used for generating qr code  
pillow #preprocessing the image in face recoginition
 


librosa # for audio analysis, not editing. It's built for extracting information from audio,
resemblyzer # create the embedding of the info from audio  so that we can compare voice from multiple audio.

# .read() fetches the binary data, and a library like librosa decodes it into something you can analyze.

webrtcvad-wheels
